

<h1><h1 style="text-align:center;"> Skills that we teach<h1>


<ul>
    <% @skills.all.each do |skill| %>
        <li>
        <%= link_to skill.name, skill_path(skill) %></br>
        <img src= <%= skill.img_url %> ></li>
        <li style="font-size:70%;"> Invented by: <%= skill.creator %>
        </li>
    <%end%>
</ul>
