

<div class="container spacer">


  <div class = "row">


    <% @courses.all.each do |course| %>
         <div class="col-lg-4 col-6 "><img class="img-fluid img-thumbnail">
        <%= link_to course.name, course_path(course) %></br>
        <img src= <%= course.img_url %> ></br>
        <%= course.date_list %>
        </div>
    <%end%>

  </div>

</div>
